
* {
  box-sizing: border-box;
}


body {
  background-color: #a3d5d3;
  font-family: 'Roboto', serif;
  font-size: 15px;

}

h1 {
  color: white;
  border: 1px;
  clear: both;
}


ul {
  border: 1px solid;
  background: #5ba9a6;
  
}

p {
  font-family: 'PT Serif', serif;
}

img {
  width: 300px;
  float: left;
  border: solid 1px;
}

.box {
  border: 1px solid;
  background: #5ba9a6;
}
nav {
  text-align: center;
  margin: 20px 0 0;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  margin: 0 2px;
  padding: 0;
}
 
.container {
  padding: 20px;
  width: 100%;
  border: 1px solid;
  float: right;  
}

.graph {
  border: 1px solid black;
}

button.resume {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate( -50%, 0);
}


.clear {
  clear: both;
}